; {{ ansible_managed }}

[Unit]
Description=MailHog
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/mailhog
ExecStartPre=/usr/bin/test -x {{ mailhog_install_prefix }}/mailhog
ExecStart=/bin/sh -c '{{ mailhog_install_prefix }}/mailhog ${DAEMON_ARGS} >> {{ mailhog_log_file }} 2>&1'
PIDFile={{ mailhog_pid_file }}
Restart=always
User={{ mailhog_user }}
Group={{ mailhog_group }}

[Install]
WantedBy=multi-user.target
