# {{ ansible_managed }}

# mailhog

description "MailHog"
author      "Mischa ter Smitten"

start on net-device-up
stop on runlevel [01S6]

respawn
umask 022

pre-start script
  /usr/bin/test -x {{ mailhog_install_prefix }}/mailhog
end script

script
  set -a
  [ -r /etc/default/mailhog ] && . /etc/default/mailhog

  exec start-stop-daemon \
    --start \
    --chuid {{ mailhog_user }} \
    --make-pidfile \
    --pidfile {{ mailhog_pid_file }} \
    --exec {{ mailhog_install_prefix }}/mailhog \
    -- ${DAEMON_ARGS} \
    >> {{ mailhog_log_file }} 2>&1
end script
